

.team{
    padding: var(--padding-section);  
}


.team__container{
    padding: var(--padding-container);
    max-width: var(--max-width-container);
    margin: 0 auto;
}

.team__card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    max-width: var(--max-width-container);
    margin: 0 auto;
    justify-items: center;
}


.team__tittle{
    font-weight: 400;
    font-size: 3.5rem;
    text-align: center;
    margin: 0;
    padding-bottom: 2rem;
    color: var(--primary-text-color);
}

.team .card{
    max-width: 256px;
    max-height: 416px;
    padding: 30px;
    background: rosybrown;
    box-shadow: 0em 0em 0.5em rosybrown,
                0em 0em 0.8em rosybrown;
    border-radius: 20px;
}

.team .card .content{
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.team .card .content .imgBox{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.team .card .content .imgBox img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.team .card .content .contentBox h4{
    color: var(--primary-text-color) ;
    font-size: 1.7rem;
    text-align: center;
    letter-spacing: 1px;
}
.team .card .content .contentBox h5{
    color: var(--primary-text-color);
    font-size: 1.2rem;
    text-align: center;
}
.team .card .content .social{
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
}
.team .card .content .social a{
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 1.6rem;
    transition: var(--primary-all-transitions);
}
.team .card .content .social a:hover{
    color: var(--primary-text-color);
    transform: scale(1.5);
}

@media (min-width: 854px){

    .team .card .content .social{
        
        gap: 1.5rem;
        
    }
}