.gallery{
    max-width: var(--max-width-container);
    margin: 0 auto;
    color: var(--primary-text-color);
    background-color: var(--primary-theme-color);
    padding: var(--padding-section) ;
}

.gallery__tittle{
    font-weight: 400;
    font-size: 3.5rem;
    margin: 0;
}

.gallery-items{
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 50px 0px;
    gap: 0.5rem;
}
.gallery-item{
   min-width: 300px;
   max-width: 300px;
   height: 300px;
}
.gallery-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;

}
.gallery-item:hover{
    transform: scale(1.2);
}