@import '/css/variables.css';
@import '/css/header.css';
@import '/css/hero.css';
@import '/css/intro.css';
@import '/css/weddings.css';
@import '/css/gallery.css';
@import '/css/footer.css';
@import '/css/cards.css';



.body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-theme-color); 
  }
  