@import '/css/variables.css';
@import '/css/header.css';
@import '/css/hero.css';


.body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-theme-color); 
  }
  